// HIDDEN ELEMENTS (MODALS)
#modal-video.modal-overlay
	.container
		.modal-content
			.close-button
				.one
				.two
			.video
				#video-popup


#modal-form.modal-overlay
	.modal-content
		.close-button
			.one
			.two
		.form-block
			.row.align-items-center
				.col-md-6
					.block1
						p.name Даниил Якимец
						p.founder-info  Сооснователь Юджин Склад
						.photo
						p.founder-text.
							Оставьте свои данные в короткой форме
							и мы перезвоним вам в ближайшее время. Наш специалист проведет подробную бесплатную консультацию и ответит на
							все интересующие вас вопросы по возможной аренде склада-контейнера
				.col-md-6
					include ../partials/form.jade
// END HIDDEN ELEMENTS (MODALS)