section.sec1
	.container-xl
		.row.align-items-end
			.col-lg-6
				.photo
					.decor1.wow.fadeInRight(data-wow-delay="0.1s")
					.decor2.wow.fadeInRight(data-wow-delay="0.3s")
					.decor3.wow.fadeInUp(data-wow-delay="0.6s")
					.decor4.wow.fadeInUp(data-wow-delay="0.7s")
			.col-lg-6
				.text-block
					p.
						У вас забита квартира или гараж? Негде хранить товар или прочий быт для бизнеса? Некуда вывести старую мебель? Не знаете куда деть лишние вещи с прочим хламом?
					p.
						Забудьте о всех этих проблемах, благодаря компании <span>Юджин Склад.</span> Теперь каждый киевлянин или гость столицы может бюджетно арендовать свой личный закрытый контейнер прямо в центре города. И свозить все свои лишние вещи в одно удобное место

section.sec2
	.container
		.row.justify-content-lg-between.justify-content-sm-center.no-gutters
			.photo-wrap.order-sm-1.order-lg-2
				.decor
				.photo1
				.photo2
			.text-block.order-sm-2.order-lg-1
				p.text.text1.
					<b>Юджин Склад</b> - это сеть складов индивидуального хранения ваших вещей в городе Киеве. Десятки контейнеров различных размеров по бюджетной цене -  новая инновационная возможность хранения вещей в вашем персональном контейнере, с круглосуточным доступом на огражденной площадке, охраной, освещением, видеонаблюдением
				p.text.
					Эта модель уже давно популярна за рубежом и во всех странах Америки и Европы, но к сожалению, у людей в Украине практически не было возможности обзавестись круглосуточным надежным складом. Теперь это доступно. И мы увеличиваем количество складов для вас каждый день


section.sec3
	.decor1.wow.fadeInDown(data-wow-delay="0.1s")
	.decor2.wow.fadeInLeft(data-wow-delay="0.3s")
	.container-xl
		p.sec-title ПОЧЕМУ ХРАНИТЬ ВАШИ ВЕЩИ  <br> ВЫГОДНО ИМЕННО В КОНТЕЙНЕРЕ
		.row.align-items-center
			.col-lg-6
				p.text.
					<b>Морской контейнер -</b> это универсальный формат грузоперевозок и складирования вещей. Находясь в контейнере на нашей территории, ваше имущество полностью защищено от влаги и злоумышленников. Хранить можно любые виды товара, не запрещенные законодательством Украины.
			.col-lg-6
				.container-block
					.items
						.item.item1.wow.fadeInUp(data-wow-delay="0.1s")
							p Нижняя продольная балка
						.item.item2.wow.fadeInUp(data-wow-delay="0.2s")
							p Дверная петля
						.item.item3.wow.fadeInUp(data-wow-delay="0.3s")
							p Карманы для вилочного погрузчика
						.item.item4.wow.fadeInUp(data-wow-delay="0.4s")
							p Нижняя поперечная балка
						.item.item5.wow.fadeInUp(data-wow-delay="0.5s")
							p Ручка
						.item.item6.wow.fadeInUp(data-wow-delay="0.6s")
							p Штанга запорного механизма
						.item.item7.wow.fadeInUp(data-wow-delay="0.7s")
							p Двери контейнера
						.item.item8.wow.fadeInUp(data-wow-delay="0.4s")
							p Уплотнительная резинка
						.item.item9.wow.fadeInUp(data-wow-delay="0.7s")
							p Продольная несущая балка крыши
						.item.item10.wow.fadeInUp(data-wow-delay="0.4s")
							p.
								Код размера и типа контейнера
								<span>Длина, высота, ширина контейнера</span>
						.item.item11.wow.fadeInUp(data-wow-delay="0.5s")
							p Номер контейнера
						.item.item12.wow.fadeInUp(data-wow-delay="0.4s")
							p Верхняя поперечная балка

section.sec4
	.decor1
	.decor2
	.decor3
	.container
		p.sec-title ЧТО ЧАСТО ХРАНЯТ НА НАШЕМ СКЛАДЕ
		.items
			.row.no-gutters.justify-content-md-between.justify-content-sm-around
				.item.it1.wow.fadeInUp(data-wow-delay="0.1s")
					.item-image
						img(src="img/doc.png")
					p.item-name Документы
				.item.it2.wow.fadeInUp(data-wow-delay="0.2s")
					.item-image
						img(src="img/meb.png")
					p.item-name Мебель
				.item.it3.wow.fadeInUp(data-wow-delay="0.3s")
					.item-image
						img(src="img/biz.png")
					p.item-name Товары по бизнесу
				.item.it4.wow.fadeInUp(data-wow-delay="0.4s")
					.item-image
						img(src="img/bit.png")
					p.item-name Личный быт
				.item.it5.wow.fadeInUp(data-wow-delay="0.5s")
					.item-image
						img(src="img/cloth.png")
					p.item-name Одежда
				.item.it6.wow.fadeInUp(data-wow-delay="0.1s")
					.item-image
						img(src="img/tech.png")
					p.item-name Бытовая техника
				.item.it7.wow.fadeInUp(data-wow-delay="0.2s")
					.item-image
						img(src="img/rez.png")
					p.item-name Шины
				.item.it8.wow.fadeInUp(data-wow-delay="0.3s")
					.item-image
						img(src="img/mat.png")
					p.item-name Стройматериалы
				.item.it9.wow.fadeInUp(data-wow-delay="0.4s")
					.item-image
						img(src="img/poli.png")
					p.item-name Полиграфия
				.item.it10.wow.fadeInUp(data-wow-delay="0.5s")
					.item-image
						img(src="img/auto.png")
					p.item-name Автозапчасти
				.item.it11.wow.fadeInUp(data-wow-delay="0.1s")
					.item-image
						img(src="img/obor.png")
					p.item-name Оборудование
				.item.it12.wow.fadeInUp(data-wow-delay="0.2s")
					.item-image
						img(src="img/toy.png")
					p.item-name Игрушки
				.item.it13.wow.fadeInUp(data-wow-delay="0.3s")
					.item-image
						img(src="img/cons.png")
					p.item-name Консервы
				.item.it14.wow.fadeInUp(data-wow-delay="0.4s")
					.item-image
						img(src="img/zoo.png")
					p.item-name Зоотовары
				.item.it15.wow.fadeInUp(data-wow-delay="0.5s")
					.item-image
						img(src="img/books.png")
					p.item-name Книги

			a.btn.hvr-grow-shadow.wow.fadeIn(href="#modal-form") ЗАПИСАТЬСЯ НА ПРОСМОТР
			br
			p.consultation.wow.fadeInUp(data-wow-delay="0.5s") Бесплатная консультация


section.sec5
	.decor.wow.fadeInDown
	.container
		.row.align-items-center
			.col-md-8
				p.sec-title ВЫГОДНОЕ СЕЗОННОЕ ХРАНЕНИЕ
				p.text.
					Теперь не нужно переживать за сохранность ваших сезонных вещей, товаров и даже транспорта. В Юджин Склад вы можете так же арендовать персональный контейнер на небольшой срок, чтобы переждать холодный зимний сезон, либо теплый летний
					<br><br>
					Высота каждого контейнера 2.5 - 2.7 метра, что позволяет хранить абсолютно все, что необходимо, хоть доски для серфинга, хоть личный мотоцикл
			.col-md-4
				.sec-photo.wow.fadeInUp

		.row.justify-content-lg-between.items.justify-content-md-around.justify-content-sm-center
			.item.it1.wow.fadeInDown
				p.item-name Велосипеды
				img.wow.fadeInUp(src="img/velo.png" data-wow-delay="0.2s")
			.item.it2.wow.fadeInDown(data-wow-delay="0.2s")
				p.item-name Гидроциклы
				img.wow.fadeInUp(src="img/hidro.png" data-wow-delay="0.4s")
			.item.it3.wow.fadeInDown(data-wow-delay="0.4s")
				p.item-name Квадроциклы
				img.wow.fadeInUp(src="img/qadro.png" data-wow-delay="0.6s")
			.item.it4.wow.fadeInDown(data-wow-delay="0.6s")
				p.item-name Мотоциклы
				img.wow.fadeInUp(src="img/moto.png" data-wow-delay="0.8s")
			.item.it5.wow.fadeInUp.wow.fadeInDown(data-wow-delay="0.2s")
				p.item-name Детские <br>автомобили
				img.wow.fadeInUp(data-wow-delay="0.1s" src="img/car.png")
			.item.it6.wow.fadeInUp(data-wow-delay="0.4s")
				p.item-name Водные виды <br>спорта и доски
				img.wow.fadeInUp(data-wow-delay="0.3s" src="img/boards.png")
			.item.it7.wow.fadeInUp(data-wow-delay="0.4s")
				p.item-name Лыжное <br> оборудование
				img.wow.fadeInUp(data-wow-delay="0.5s" src="img/snowboards.png")
			.item.it8.wow.fadeInUp(data-wow-delay="0.8s")
				p.item-name Шины и все для <br> автомобиля
				img.wow.fadeInUp(data-wow-delay="0.7s" src="img/rezina.png")

		p.info-text.
			И многое другое! Мы работаем с любыми индивидуальными вещами, которые не запрещены законодательством Украины


section.sec6
	.container
		p.sec-title РАЗМЕРЫ КОНТЕЙНЕРОВ
		p.text.
			На нашем складе представлено 2 вида контейнеров, которые вы можете арендовать для своих вещей и товаров. Если вы пока точно не определились, какой размер вам больше подойдет, оставьте заявку и наш специалист проконсультирует вас по всем интересующим вопросам и подскажет все рекомендации
		.row.align-items-center.block1
			.col-md-7.col-lg-6
				.container-block-red.wow.fadeInLeft
			.col-md-5.col-lg-6
				.container-block-info
					p.block-title Контейнер <b>10 футов</b>
					.info.info1
						p.info-name Размеры контейнера
						ul
							li Ширина - <b>2.4м</b>
							li Высота - <b>2.6м</b>
							li Длина - <b>3м</b>
					.info.info2
						p.info-name Площадь контейнера
						p.val 7.5 м<span>2</span>
					.info.info3
						p.info-name Объем контейнера
						p.val 19 м<span>3</span>
		.row.align-items-center.block2
			.col-lg-6.col-md-7.order-md-2
				.container-block-blue.wow.fadeInRight
			.col-lg-6.col-md-5.order-md-1
				.container-block-info
					p.block-title Контейнер <b>20 футов</b>
					.info.info1
						p.info-name Размеры контейнера
						ul
							li Ширина - <b>2.4м</b>
							li Высота - <b>2.6м</b>
							li Длина - <b>6м</b>
					.info.info2
						p.info-name Площадь контейнера
						p.val 15 м<span>2</span>
					.info.info3
						p.info-name Объем контейнера
						p.val 38 м<span>3</span>


section.sec7
	.container
		p.sec-title Команда
		p.sec-desc Кто стоит за <span>Юджин Склад</span>
		.founders
			.founder.evgen.wow.fadeInUp
				.founder-content
					.founder-photo
				.founder-footer
					p.founder-name ЕВГЕНИЙ ЧЕРНЫШЕНКО
					p.founder-info Сооснователь
			.founder.danil.wow.fadeInUp
				.founder-content
					.founder-photo
				.founder-footer
					p.founder-name ДАНИИЛ ЯКИМЕЦ
					p.founder-info Сооснователь

	.container-xl
		.row.align-items-center
			.col-lg-6
				.block-photos
			.col-lg-6
				p.block-text.bt1.
					<b>Мы начинали этот проект в первую очередь ради идеи.</b><br>
					Идеи, наконец-то полноценно и масштабно запустить популярную мировую концепцию Self Storage (индивидуальное хранение вещей) в Украине, и дать возможность всем киевлянам бюджетно и с максимальными удобствами хранить свои личные бытовые вещи или товары по бизнесу
				p.block-text.bt2.
					9 из 10 человек, которые узнают об Юджин Склад, в восторге от проекта и хотят рассказать о нем своим друзьям, а так же берут контакты для возможного сотрудничества в будущем. Мы сделали хранение вещей удобным и доступным для каждого.<br> Это уже больше, чем просто проект, поэтому со всеми нашими арендаторами мы как друзья. Будем рады видеть вас среди наших клиентов, и сделаем все, чтобы вы были довольны :)

section.sec8
	.decor1.wow.fadeInDown(data-wow-delay="0.1s")
	.decor2.wow.slideInUp(data-wow-delay="0.1s")
	.decor3.wow.fadeInRight(data-wow-delay="0.1s")
	.decor4.wow.fadeInDown(data-wow-delay="0.1s")
	.container-xl
		p.sec-title ЕДИНСТВЕННЫЙ СКЛАД ИНДИВИДУАЛЬНОГО <br> ХРАНЕНИЯ В ЦЕНТРЕ КИЕВА
		.row.align-items-center.no-gutters.justify-content-between
				ul
					li Теперь не нужно ехать на дальнюю окраину города,  чтобы завести свои вещи в какой-то старый гараж
					li Теперь не нужно каждый раз по часу ехать в пригород или в район окружной, где обычно находятся все склады
					li Мы позаботились о том, чтобы вам было максимально удобно добиратся до своего склада с любой точки Киева. Юджин Склад стратегически выгодно находится в центре
					li Мы находимся на пересечении улиц Жилянская и Старовокзальная. Рядом метро Университет и метро Вокзальная, что так же позволяет  удобно добираться даже своим ходом
				.map.
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1510.766054624964!2d30.491466695078763!3d50.44490932257772!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4ce8c9013bb0f%3A0x764e6ba5a9e473f!2z0YPQuy4g0JbQuNC70Y_QvdGB0LrQsNGPLCAxMDcsINCa0LjQtdCyLCAwMjAwMA!5e0!3m2!1sru!2sua!4v1541366111288" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
		a.btn.hvr-grow-shadow(href="#modal-form") ЗАПИСАТЬСЯ НА ПРОСМОТР

section.sec9
	.decor1.wow.slideInUp(data-wow-delay="0.1s")
	.decor2.wow.slideInRight(data-wow-delay="0.2s")
	.decor3.wow.fadeInUp(data-wow-delay="0.3s")
	.decor4.wow.fadeInLeft(data-wow-delay="0.4s")
	.container
		p.sec-title НАШИ КЛИЕНТЫ ВЫБИРАЮТ НАС, ПОТОМУ ЧТО <br> МЫ СОЗДАЕМ ЛУЧШИЙ СЕРВИС ДЛЯ КАЖДОГО
		.row.block1.justify-content-center
			.col-lg-6.col-md-9
				.item.it1
					p.item-title РАБОТАЕМ КРУГЛОСУТОЧНО <br> И БЕЗ ВЫХОДНЫХ 24/7
					p.item-text Вы можете приехать в любое время суток, ведь наш склад работает без перерывов 24/7
			.col-lg-6.col-md-9
				.item.it2
					p.item-title ПОЛНОСТЬЮ ЗАКРЫТАЯ И ОХРАНЯЕМАЯ ТЕРРИТОРИЯ
					p.item-text.
						Территория полностью ограждена забором по периметру, круглосуточная охрана и видеонаблюдение позволяют вам не переживать за свое имущество
			.col-lg-6.col-md-9
				.item.it3
					p.item-title ВНУТРИ КОНТЕЙНЕРА ЕСТЬ  ОСВЕЩЕНИЕ С ВЫКЛЮЧАТЕЛЕМ
					p.item-text.
						Для вашего удобства мы сделали освещение в каждом контейнере, благодаря чему можно найти нужные вещи даже ночью
			.col-lg-6.col-md-9
				.item.it4
					p.item-title УДОБНОЕ РАСПОЛОЖЕНИЕ <br> ПРЯМО В ЦЕНТРЕ ГОРОДА
					p.item-text Наш склад находится в центре Киева, между 2-мя станциями метро. Это позволяет быстро добираться до склада любым транспортом
	.block2
		.decor5.wow.slideInUp(data-wow-delay="0.1s")
		.decor6.wow.slideInRight(data-wow-delay="0.2s")
		.decor7.wow.fadeInUp(data-wow-delay="0.3s")
		.decor8.wow.fadeInLeft(data-wow-delay="0.4s")
		.container
			.row.justify-content-center
				.col-lg-6.col-md-9
					.item.it5
						p.item-title БЕСПЛАТНЫЙ WI-FI <br> ПО ВСЕЙ ПЛОЩАДКЕ
						p.item-text Мы специально провели кабели интернета на площадку и теперь каждый клиент может свободно пользоваться Wi-Fi во время визита
				.col-lg-6.col-md-9
					.item.it6
						p.item-title ПОМОЩЬ В ПЕРЕВОЗКЕ <br> И УДОБНЫЙ ПОДЬЕЗД
						p.item-text Вы можете вплотную подьехать к контейнеру и совершить погрузку. Так же наши партнеры недорого помогают клиентам в перевозках
				.col-lg-6.col-md-9
					.item.it7
						p.item-title НАЛИЧИЕ МУСОРНЫХ БАКОВ И <br>  БИОТУАЛЕТОВ НА ПЛОЩАДКЕ
						p.item-text Мы заботимся о чистоте наших складов. Поэтому на территории для наших клиентов размещены мусорные баки и биотуалеты
				.col-lg-6.col-md-9
					.item.it8
						p.item-title ВЛАГОУСТОЙЧИВОСТЬ И <br>  ЗАЩИТА ВАШЕГО КОНТЕЙНЕРА
						p.item-text Каждый контейнер на заводе проходит испытание на взлом и водонепроницаемость. Поэтому мы гарантируем 100% надежность

section.sec10
	.container-xl
		.row.align-items-center
			.col-lg-6.order-lg-1.order-sm-2
				.sec-photo
			.col-lg-6.order-lg-2.order-sm-1
				p.sec-title НАДЕЖНОЕ ВИДЕОНАБЛЮДЕНИЕ
				p.text.text1.
					На территории площадки и по всему периметру ведется круглосуточное видеонаблюдение, за которым безпрерывно следит охрана. Камеры фиксируют периметр даже ночью
				p.text.
					При аренде контейнера на Юджин Склад, вы, как наш клиент, получаете закрытый доступ к трансляции всех видеокамер и в любое время суток сможете отслеживать и проконтролировать, что происходит на площадке и возле вашего контейнера

section.sec11
	.decor1.wow.slideInUp(data-wow-delay="0.1s")
	.decor2.wow.slideInDown(data-wow-delay="0.2s")
	.decor3.wow.fadeInRight(data-wow-delay="0.3s")
	.container
		p.sec-title ЦЕНЫ
		.row.justify-content-lg-between.justify-content-sm-center.no-gutters
			.package.p10
				.package-header
					p.package-title Контейнер <span>10 футов</span>
				.package-content
					ul
						li.price.price1 От <b>1</b> месяца <span>.................................</span> <b>2990 ГРН</b>
						li.price.price2 От <b>4</b> месяцев <span>................................</span> <b>2490 ГРН</b>
						li.price.price3 От <b>12</b> месяцев <span>.............................</span> <b>1990 ГРН</b>
				.package-footer
					p.text Скидочная система при оплате от 4-х месяцев Экономьте выгодно на ежемесячном тарифе
					a.btn.package-btn.hvr-grow-shadow(href="#modal-form") забронировать контейнер


			.package.p20
				.package-header
					p.package-title Контейнер <span>20 футов</span>
				.package-content
					ul
						li.price.price1 От <b>1</b> месяца <span>.................................</span> <b>4490 ГРН</b>
						li.price.price2 От <b>4</b> месяцев <span>................................</span> <b>3990 ГРН</b>
						li.price.price3 От <b>12</b> месяцев <span>.............................</span> <b>3490 ГРН</b>
				.package-footer
					p.text Скидочная система при оплате от 4-х месяцев Экономьте выгодно на ежемесячном тарифе
					a.btn.package-btn.hvr-grow-shadow(href="#modal-form") забронировать контейнер
		.plus-block
		.bottom-block
			.row.no-gutters.justify-content-between.align-items-center

				ul
					li Круглосуточный безлимитный доступ
					li Бесплатный Wi-Fi по всему складу
					li Наличие мусорных баков и биотуалета
					li Охрана и огражденная территория
					li Освещение вашего контейнера внутри
					li Доступ к записи всех видеокамер
					li Скидки при аренде от 2-х контейнеров
				.block-photo


section.sec12
	.container-xl
		p.sec-title НАЧИНАЕМ СОТРУДНИЧЕСТВО ЗА 4 ПРОСТЫХ ШАГА
		.row.justify-content-lg-between.no-gutters.items.justify-content-sm-around
			.item.it1.wow.fadeInUp(data-wow-delay="0.1s")
				p.item-number 1
				.item-image-wrap
					.item-image
				p.item-text Вы оставляете заявку на сайте, либо связываетесь с нами по телефону
			.item.it2.wow.fadeInUp(data-wow-delay="0.3s")
				p.item-number 2
				.item-image-wrap
					.item-image
				p.item-text Менеджер проконсультирует вас, исходя из ваших задач,  и ответит на все вопросы
			.item.it3.wow.fadeInUp(data-wow-delay="0.5s")
				p.item-number 3
				.item-image-wrap
					.item-image
				p.item-text Выбираете подходящий контейнер, подписываем с вами договор аренды
			.item.it4.wow.fadeInUp(data-wow-delay="0.7s")
				p.item-number 4
				.item-image-wrap
					.item-image
				p.item-text Помогаем с перездом и завозим ваши вещи  на готовый склад
		a.btn.hvr-grow-shadow(href="#modal-form") ПОЛУЧИТЬ КОНСУЛЬТАЦИЮ

section.sec13
	.container
		p.sec-title НАШИ ПРЕИМУЩЕСТВА
		.table.row.no-gutters
			ul.text-list
				li.header-text
				li Онлайн наблюдение и запись с камер
				li Круглосуточный доступ к складу
				li Удобное расположение прямо в центре
				li Близость к нескольким станциям метро
				li Бюджетные варианты аренды и скидки
				li Бесплатный Wi-Fi по всей территории
				li Влагоустойчивость помещений
				li Полностью закрытая территория
				li Помощь в погрузке и перевозках
				li Освещение погрузочной площадки
				li Освещение вашего склада внутри
				li Пожарная безопасность
			ul.sklad1
				li.header-text Юджин Склад
				li.check
				li.check
				li.check
				li.check
				li.check
				li.check
				li.check
				li.check
				li.check
				li.check
				li.check
				li.check
			ul.sklad2
				li.header-text Обычный склад хранения
				li.check
				li.crest
				li.crest
				li.crest
				li.check
				li.crest
				li.crest
				li.crest
				li.crest
				li.check
				li.crest
				li.crest

section.sec14
	.container
		.row.align-items-center.no-gutters
			.col-lg-6
				p.sec-title КОНТАКТЫ
				p.text.
					Приезжайте к нам на площадку в гости.<br>
					Наш офис находится прямо на территории. Точный адрес склада Жилянская 107. Но главный заезд идет со Старовокзальной 21, вьезд во двор справа от магазина Рошен, где
					вы увидите красные ворота, Юджин Склад находится слева сразу за этими воротами. По любым вопросам звоните, всегда подскажем :)
				.social
					.messagers
						.icons
							a.icon.tel
							a.icon.watsup
							a.icon.viber
							a.icon.telegram
						.phones
							a.phone(href="tel:+380970279903") +380 97 027 99 03
							a.phone(href="tel:+38097520634") +380 97 524 06 34
					.instagram
						a.insta-icon(href="https://instagram.com/yudgin_sklad?utm_source=ig_profile_share&igshid=zyk3rsy9xtg" target="_blank")
						a.insta-text(href="https://instagram.com/yudgin_sklad?utm_source=ig_profile_share&igshid=zyk3rsy9xtg" target="_blank") ПОДПИШИТЕСЬ НА  <br> НАШ ИНСТАГРАМ
			.col-lg-6
				p.slider-title Как проехать на Юджин Склад <br> Жмите на пошаговые стрелочки
				.slider
					.slide
						img(src="img/slide1.jpg")
					.slide
						img(src="img/slide2.jpg")
					.slide
						img(src="img/slide3.jpg")


section.sec15
	.decor.wow.fadeInUp
	.container
		p.sec-title ЧАСТЫЕ ВОПРОСЫ И ОТВЕТЫ НА НИХ
		.row.justify-content-between
			.col-lg-6
				.question
					p.question-text Хранить вещи в контейнере безопасно?
					p.answer-text У нас - да. Наши контейнеры имеют 5 степеней защиты: территория ограждена высоким бетонным забором с колючей проволокой, на въезде охраняемое КПП с воротами, охранники патрулируют и мониторят территорию, въезд осуществляется только по пропускам, контейнер имеет антивандальный стальной корпус толщиной 3 мм, в нем отсутствуют окна, на контейнер вешается прочный замок, наши сотрудники следят за территорией через видеокамеры, информация с видеокамер записывается и хранится в течение месяца. Если вам необходимо, можно установить GSM сигнализацию, с оповещением на телефон об открытии двери контейнера.
				.question
					p.question-text Кто может пользоваться складом?
					p.answer-text Во время заключения договора вы сообщаете нам списки допущенных лиц и машин, мы делаем на них постоянные пропуска на территорию. Это могут  быть ваши родтсвенники, сотрудники, коллеги, друзья и т.д. По заявкам от  арендаторов мы оперативно делаем единоразовые пропуска, например, для  разгрузки или погрузки нанятой арендатором машины.
				.question
					p.question-text Доступ осуществляется круглосуточно?
					p.answer-text Да, круглосуточно и 7 дней в неделю. Приятный бонус - внешнее и внутреннее освещение контейнеров, поможет вам в этом. В отличии от других складов, мы работаем без выходных, ночных закрытий и перерывов на обед.
				.question
					p.question-text Все ли можно хранить у вас на складе?
					p.answer-text На нашем складе строго запрещено хранить оружие, наркотики, химические  вещества и прочие запрещенные товары согласно законодательству Украины. В  случаи обнаружения такого нарушения, охрана блокирует контейнер клиента и сразу же вызываются правоохранительные органы, клиент выезжает с контейнера без возврата средств.
			.col-lg-6
				.question
					p.question-text Вы несете материальную отвественность?
					p.answer-text Юджин Склад работает по мировой системе Self Storage - склады индивидуального хранения. Это означает, что мы предоставляем вам контейнер для хранения любых ваших вещей и много дополнительного сервиса, такого как охрана, освещение, видеонаблюдение и т.д. Поэтому мы не несем материальную отвественность в случаи форс-мажора. Иначе каждый раз при вашем вьезде на склад вам пришлось бы делать опись товара и всех новых вещей и документально подтверждать стоимость каждой. Но в отличии от других складов индивидуального хранения, наша система имеет 5 степеней защиты, поэтому все наши клиенты спокойны за свои вещи и доверяют нашей компании.
				.question
					p.question-text В контейнере сухо? Например для мебели
					p.answer-text Да. Конструкция контейнера полностью герметична для воды, имеет встроенную систему естественной вентиляции и ровный фанерный пол. Мы так же устанавливаем контейнера на бетонные блоки высотой 18 см, что дает дополнительную изоляцию от воды и снега снизу. Поэтому вы смело можете  хранить здесь как мебель, так и другие подобные вещи.
				.question
					p.question-text Я могу видеть картину с камер наблюдения?
					p.answer-text Безусловно. Когда вы становитесь клиентом Юджин Склад и завозите вещи в контейнер. Наши специалисты открывают вам персональный доступ к  закрытому разделу на нашем сайте, где вы сможете в любое время суток в  режиме Live смотреть и при желании отслеживать все действия на площадке и  возле вашего контейнера. Либо же, например, что если ваши грузчики повезли товар на склад, а вам не удалось приехать? Благодаря системе  наблюдения вы сможете даже с телефона отследить как они погружают товар и  закрывают контейнер!
				.question
					p.question-text Можно ли арендовать несколько контейнеров?
					p.answer-text Вы можете арендовать любое количество свободных контейнеров, если они есть в наличии. Преимущества нашего склада в том, что мы постоянно расширяемся и увеличиваем количество контейнеров, так как постоянно идет большой спрос и поток желающих. Так же, при разовой оплате от 4-х месяцев и выше у нас действует гибкая система скидок, особенно выгодная при годовой оплате, поэтому вы можете выбрать оптимальный для себя вариант.

section.sec16
	.container
		p.block-title БЕСПЛАТНАЯ КОНСУЛЬТАЦИЯ <br> ПО АРЕНДЕ СКЛАДА <span>+ БОНУС</span>
		.blocks
			.block
				.evgen-block
					.evgen-photo
					.evgen-footer
						p.name ЕВГЕНИЙ ЧЕРНЫШЕНКО
						p.info ОСНОВАТЕЛЬ ЮДЖИН СКЛАД
				.timer-block
					p.timer-title Акция доступна еще:
					.simpleCountdown#countdown1(data-cookies='yep' data-extra='0,10,0')
			.text-block
				p.text1.
					Оставьте заявку на консультацию и вы автоматически получите арендный бонусный купон на <b>500 грн.</b> Наш лучший специалист ответит на все интересующие вас вопросы и проконсультирует по возможной аренде вашего склада. Вы сможете увидеть все вживую
				p.text2.
					Если вы планировали арендовать склад позже - не проблема. Вы сможете использовать ваш купон и получить скидку в любой момент, даже через год :) Главное успеть получить купон в момент акции
				a.btn.hvr-grow-shadow(href="#modal-form") ЗАБРАТЬ СВОЙ КУПОН
				.arr
				p.bonus 500 <span>грн</span>
