footer.footer
	.inner
		.row.no-gutters.justify-content-md-between.align-items-center.justify-content-sm-center
			img.footer-logo(src="img/logo.png")
			.phones-block
				a.phone(href="tel:+380975240634") +380 97 524 06 34
				a.phone(href="tel:+380970279903") +380 97 027 99 03

			.studio-block
				a.text(href="https://yudgin.studio/" target="_blank") Разработка <br> и поддержка
				a.studio-logo(href="https://yudgin.studio/" target="_blank")
					img(src="img/studio-logo.png")
			.adress-block
				p.adress Киев, ул. Жилянская 107
				p.metro м. Университет 900 метров <br> м. Вокзальная 300 метров
			p.fop.
				ФОП ЧЕРНИШЕНКО ЄВГЕН ІГОРОВИЧ <br>
				код РНОКПП: <span>3597306170,</span> індекс 02192 <br>
				Платник єдиного податку, 2 група, 20%

	p.copy 2018 Все права защищены