header.header
	.topline
		.row.no-gutters.justify-content-between.align-items-center
			a.logo(href="#")
				img(src="img/logo.png")
			.phones-block
				a.phone(href="tel:+380975240634") +380 97 524 06 34
				a.phone(href="tel:+380970279903") +380 97 027 99 03
			.adress-block
				p.adress Киев, ул. Жилянская 107
				p.metro м. Университет 900 метров <br> м. Вокзальная 300 метров
	.container-xl
		.row.align-items-center.justify-content-between
			.col-lg-7
				h1.title.wow.fadeIn ЮДЖИН <b>СКЛАД <span class="decor1"></span><span class="decor2"></span></b>
				p.desc.wow.fadeInDown(data-wow-delay="0.3s").
					Аренда склада-контейнера в центре Киева.
										Универсальное хранение ваших вещей и товаров
				a.btn.hvr-grow-shadow.wow.fadeInUp(href="#modal-form" data-wow-delay="0.5s") Получить консультацию
			.col-lg-5.justify-content-lg-end.row.no-gutters.justify-content-sm-center
				.info-block.wow.zoomIn
					.dyga
					ul.info
						li.wow.fadeInRight(href="#modal-form" data-wow-delay="0.5s" data-wow-offset="0") Индивидуальное хранение
						li.wow.fadeInRight(href="#modal-form" data-wow-delay="0.7s" data-wow-offset="0") Закрытая территория
						li.wow.fadeInRight(href="#modal-form" data-wow-delay="0.9s" data-wow-offset="0") Доступ к складу 24/7





