.header {
	background: url(../img/header.png) 50% 0 no-repeat;
	background-size: cover;
	min-height: 100vh;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	.container-xl {
		margin: auto;
	}
	.topline {
		padding-top: 25px;
		padding-bottom: 20px;
		border-bottom: 1px solid rgba(#fff,0.17);
		.row {
			max-width: 1760px;
			padding-left: 10px;
			padding-right: 10px;
			margin: 0 auto;
		}
	}
	.phones-block {
		display: flex;
		align-items: center;
		.phone {
			display: block;
			color: #ffffff;
			font-size: 23px;
			font-weight: 700;
			text-transform: uppercase;
		}
	}
	.adress-block {
		padding-left: 85px;
		background: url(../img/destination.png) 0 50% no-repeat;
		.adress {
			color: #ffffff;
			font-size: 18px;
			font-weight: 700;
			line-height: 25px;
			letter-spacing: 0.72px;
			margin-bottom: 10px;
		}
		.metro {
			color: #ffffff;
			font-size: 16px;
			font-weight: 600;
			line-height: 22px;
		}
	}

	.title {
		color: #ffffff;
		font-family: "Roboto";
		font-size: 74px;
		font-weight: 900;
		line-height: 86px;
		text-transform: uppercase;
		letter-spacing: 2.96px;
		margin-bottom: 35px;
		b {
			position: relative;
			.decor1 {
				content: '';
				display: block;
				position: absolute;
				width: 277px;
				height: 4px;
				background-color: #2c6dff;
				left: 0;
				bottom: -18px;
			}
			.decor2 {
				content: '';
				display: block;
				position: absolute;
				width: 320px;
				height: 4px;
				background-color: #2c6dff;
				left: calc(100% - 14px);
				bottom: -95px;
				transform: rotate(29deg);
			}
		}
	}
	.desc {
		color: #ffffff;
		font-size: 23px;
		font-weight: 700;
		line-height: 37px;
		max-width: 650px;
	}
	.button {
		display: flex;
		align-items: center;
		margin: 22px 0;
		cursor: pointer;
		.border {
			width: 90px;
			height: 90px;
			border-radius: 50%;
			border: 1px solid rgba(255, 255, 255, .3);
			padding: 8px;
			-webkit-transition: all 600ms cubic-bezier(.68, -.55, .265, 1.55);
			transition: all 600ms cubic-bezier(.68, -.55, .265, 1.55);
			.yellow-border {
				border-radius: 50%;
				width: 100%;
				padding-left: 5px;
				height: 100%;
				background-color: #fff;
				display: flex;
				align-items: center;
				justify-content: center;
				box-shadow: 0 11px 18px rgba(0, 0, 0, .5);
				transition: all 600ms cubic-bezier(.68, -.55, .265, 1.55)
			}
			&:hover {
				transform: scale(1.07);
				.yellow-border {
					transform: scale(1.07);
				}
			}
		}
		p {
			color: #fff;
			padding-left: 18px;
			font-size: 18px;
			font-family: 'OpenSans', sans-serif;
			font-style: italic;
		}
	}
	.info-block {
		width: 454px;
		height: 467px;
		background: url(../img/info-block-bg.svg) 50% no-repeat;
		padding: 50px;
		position: relative;
		.info {
			box-shadow: 1px 27px 20px rgba(0, 0, 0, 0.31);
			background-color:rgba(#fff, .17);
			border-radius: 50%;
			width: 373px;
			height: 373px;
			padding-top: 140px;
			padding-left: 30px;
			li {
				color: #ffffff;
				font-size: 18px;
				font-weight: 700;
				line-height: 24px;
				text-transform: uppercase;
				margin-bottom: 20px;
				padding-left: 27px;
				position: relative;
				&:before {
					content: '';
					display: block;
					background-color: #ffffff;
					width: 14px;
					height: 14px;
					border-radius: 50%;
					position: absolute;
					left: 0;
					top: calc(50% - 7px);
				}
			}
		}
	}
	.btn {
		position: relative;
		z-index: 5;
	}
}
@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }


.dyga {
  position: absolute;
  display: block;
  left:20px;
  top: 20px;
  width: 431px;
  height: 431px;
  background: url(../img/h-lines.png) no-repeat;
  // background-size: cover;
  animation-duration: 10000ms;
  animation-name: spin;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform-origin: 50% 50%;
}

