section.success-sec1
	.container
		.inner
			.photo
			p.title ВАША ЗАЯВКА УСПЕШНО ОТПРАВЛЕНА!
			p.text.
				<b>Привет! На связи Даниил Якимец, сооснователь Юджин Склад.</b><br>
				 Спасибо за ваш проявленный интерес. В ближайшее время с вами свяжется специалист нашей команды, проконсультирует и ответит  на все интересующие вас вопросы
				<br><br>
				Даже если ваш запрос или товар очень специфический, даже если вам нужно арендовать склад на нестандартый срок, <b>наша команда сделает все возможное,</b> чтобы удовлетворить абсолютно любой ваш запрос и вы остались довольны :)
				<br><br>
				Поэтому каждый наш клиент становится частью одной большой семьи и возвращается снова и снова, рекомендуя нас своим друзьям, чему
				мы очень гордимся и каждый день улучшаем наш сервис
				<br><br>
				Если у вас есть срочный вопрос, который не может ждать, вы всегда можете позвонить нам по телефону, и мы с радостью поможем:
			.phones
				a.phone.phone1(href="tel:+380970279903") +380 97 027 99 03
				a.phone.phone2(href="tel:+380975240634") +380 97 524 06 34
			.danil-block
				p.name Даниил Якимец
				p.prof Сооснователь Юджин Склад

section.success-sec2
	.container-xl
		p.sec-title <span>ЮДЖИН СКЛАД.</span> ЭТО НЕЧТО БОЛЬШЕЕ, ЧЕМ ПРОСТО СКЛАД
		p.desc Посмотрите еще фотогалерею нашей площадки :)
		.gallery.row.justify-content-lg-between.justify-content-md-around
			img(src="img/gallery/photo1.jpg")
			img(src="img/gallery/photo2.jpg")
			img(src="img/gallery/photo3.jpg")
			img(src="img/gallery/photo4.jpg")
			img(src="img/gallery/photo5.jpg")
			img(src="img/gallery/photo6.jpg")
			img(src="img/gallery/photo7.jpg")
			img(src="img/gallery/photo8.jpg")
			img(src="img/gallery/photo9.jpg")